include README.rst requirements.txt horizon_hwm_store/VERSION horizon_hwm_store/py.typed
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-exclude docs *
recursive-exclude tests *
prune docs*
prune tests*
